*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, rgba(50,46,113,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.container{
    width: 80%;
    height: 100vh;
    margin: auto;
    border: 1px solid black;
    padding-left: 30%;
    background: linear-gradient(90deg, rgba(50,46,113,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #FFFFFF;
    padding-top: 10%;
}
h2{
    text-transform: uppercase;
}
.solution-para{
    margin: 1rem;
}